*.pyc

# LaTeX stuff
/doc/report/*.aux
/doc/report/*.dvi
/doc/report/*.txt
/doc/report/*.out
/doc/report/*.gz
/doc/report/*.log
/doc/report/*.bbl
/doc/report/*.blg

#Prelimiary Data
preliminaryData/*

# Maya stuff
.mayaSwatches/
# osx files
.DS_Store

